h1
{
    text-align: center;
    color: white;
}
.all
{
    width: 820px;
    margin: 0 auto;
}
body
{
    background-color: pink;
    color: white;
}
.left_image
{
    display: inline-block;
    width: 100%;
    height: 260px;
}
figure
{
    display: inline-block;
    width: 49%;
    margin: 0;
    text-align: center;
}
.bottom
{
    font-family: monospace;
    font-style: italic;
    text-align: right;
}