.gras
{
    text-align: center;
    font-weight: bold;
}
td, th
{
    text-align: center;
    position: relative;
    border: 3px ridge black;
}
table
{
    width: 100%;
    height: 100%;
}
td p
{
    font-size: 1vw;
    resize: both;
}
.no_border
{
    border: none;
}

.masse
{
    position: absolute;
    text-align: right;
    margin: 0;
    top: 0;
    right: 0;
    margin-right: 3px;
}
.num
{
    position: absolute;
    text-align: left;
    margin: 0;
    bottom: 0;
}
.image
{
    width: 10%;
    height: 10%;
}
.red
{
    background-color: red;
}
.blue_bold{
    background-color: blue;
}
.green
{
    background-color: green;
}
.orange
{
    background-color: orange;
}
.yellow
{
    background-color: yellow;
}
.grey
{
    background-color: grey;
}
.magent
{
    background-color: magenta;
}
.green_bold
{
    background-color: greenyellow;
}